<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}
{% block title %} {{car}} {% endblock %}

{% block content %}

<a href="../" class="btn btn-secondary mb-3">← Back</a>

<div class="card-body p-0">
    <div class="table-responsive">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-dark">
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>License Plate</th>
                    <th>Vin Code</th>
                    <th>Client Name</th>
                </tr>
            </thead>
            <tbody>
                {% if car %}
                <tr>
                    <td>{{ car.make }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.license_plate }}</td>
                    <td>{{ car.vin_code }}</td>
                    <td>{{ car.client_name }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">No car found.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="card shadow-sm mx-auto mt-4" style="width: 18rem;">
            <div class="card-header bg-dark text-white text-center">
                Vehicle Image
            </div>
                {% if car.image %}
                    <div class="card-body text-center">
                        <img src="{{ car.image.url }}"
                             class="img-fluid rounded"
                             alt="">
                    </div>
                {% else %}
                    <div class="card-body text-center">
                        <img src="{% static 'autoservice/images/No_Image_Available.jpg' %}"
                             class="img-fluid rounded"
                             alt="">
                    </div>
                {% endif %}
        </div>
        <div class="card shadow-sm mx-auto mt-4" style="width: 18rem;">
            <div class="card-header bg-dark text-white text-center">
                Vehicle description
            </div>
                {{ car.description | safe }}
        </div>
    </div>
</div>
{% endblock %}