<nav class="navbar navbar-expand-lg navbar-dark  shadow-sm navbar-nav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="bi bi-card-list"></i>
            Home
        </a>
        <a class="nav-link" href="{% url 'autoservice' %}">
            <i class="bi bi-hammer"></i>
            Summary
        </a>
        <a class="nav-link" href="{% url 'services' %}">
            <i class="bi bi-cart3"></i>
            Services
        </a>
        <a class="nav-link" href="{% url 'car_list' %}">
            <i class="bi bi-car-front-fill"></i>
            Cars
        </a>
        <a class="nav-link" href="{% url 'order_list' %}">
            <i class="bi bi-list-ul"></i>
            Orders
        </a>
        <form action="{% url 'search' %}" method="get" class="d-flex">
            <input
                    name="query"
                    class="form-control me-2"
                    type="text"
                    placeholder="search"
            >
            <button class="btn btn-outline-light" type="submit">
                Search
            </button>
        </form>
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="#">
              <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
              </svg>
            {{ user.get_username }}</a></li>
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="nav-link" type="submit">Logout</button>
                </form>
            </li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
          {% endif %}

    </div>
</nav>