{% extends "base.html" %}

{% block title %} Search results {% endblock %}

{% block content %}

{% if car_list %}
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-fixed mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>License Plate</th>
                        <th>Make</th>
                        <th>Model</th>
                    </tr>
                </thead>

                <tbody>
                {% for car in car_list %}
                    <tr>
                        <td>
                            <a href="{% url 'car_details' car.pk %}">{{ car.license_plate }}</a>
                        </td>
                        <td>{{ car.make }}</td>
                        <td>{{ car.model }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No cars found.</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
+
    {% if page_obj.paginator.num_pages > 1 %}
        {% include "pagination.html" %}
    {% endif %}

{% else %}
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-fixed mb-0">
                    <tr>
                        <td colspan="5" class="text-center">No cars found.</td>
                    </tr>
            </table>
        </div>
    </div>
{% endif %}

{% endblock %}