<nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">
            <i class="bi bi-card-list"></i>
                Home
        </a>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'autoservice' %}">
                <i class="bi bi-hammer"></i>
                Summary
            </a>
            <a class="nav-link" href="{% url 'services' %}">
                <i class="bi bi-cart3"></i>
                Services
            </a>
            <a class="nav-link" href="{% url 'car_list' %}">
                <i class="bi bi-car-front-fill"></i>
                Cars
            </a>
            <a class="nav-link" href="{% url 'order_list' %}">
                <i class="bi bi-list-ul"></i>
                Orders
            </a>
            <form action="{% url 'search' %}" method="get" class="d-flex ms-auto">
                <input
                        name="query"
                        class="form-control me-2"
                        type="text"
                        placeholder="search"
                >
                <button class="btn btn-outline-light" type="submit">
                    Search
                </button>
            </form>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'myorders' %}">
                    <i class="bi bi-person"></i>
                    {{ user.get_username }}
                </a>
                <div class="nav-item">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="nav-link" type="submit">Logout</button>
                    </form>
                </div>
              {% else %}
                <a class="nav-link" href="{% url 'login'%}">Login</a>
                <a class="nav-link" href="{% url 'signup'%}">Sign up</a>
              {% endif %}
        </div>
    </div>
</nav>